@import "../../../assets/styles/BaseStyle.scss";

.content {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.zeroMargin {
  margin: 0px;
}

.name {
  font-size: 1.7em;
}

.job {
  text-align: end;
  font-size: 1.2em;
  margin-top: -9px;
}

.contact {
  text-align: end;
  margin-top: 10px;
}

.svgContact {
  height: 30px;
  width: 30px;
  margin-top: -5px;
  margin-left: 10px;
}

.svgContact:hover {
  cursor: pointer;
}
.svgContact .path {
  fill: white !important;
  stroke: none !important;
}

.svgContact:hover .path {
  fill: #83cd29 !important;
}

@media screen and (max-width: 859px) {
  .content {
    width: 85%;
  }

  .name {
    text-align: end;
  }
}

@media screen and (max-width: 575.98px) {
  .content {
    width: 85%;
  }

  .name {
    font-size: 1em;
    text-align: end;
  }

  .job {
    font-size: 0.7em;
    margin-top: -5px;
  }

  .svgContact {
    height: 25px;
    width: 25px;
  }
}
